<div class="row">
    <h1>Doge</h1>
     <img src="/app/assets/images/doge_icon.jpg" alt="Doge" style="width:500px;height:500px;"> 
    <p>Doge is an social networking app written using <%= fa_icon 'diamond' %> Ruby on Rails. The source code of this app is on <a href="https://github.com/haitranviet96/doge-much-buddies"><%= fa_icon 'github' %> Github.
    </a>
    <p>
    Our team members are:<br>
    <ul style="list-style-type:disc">
      <li>Nguyễn Công Hòa Cường</li>
      <li>Nguyễn Quốc Huy</li>
      <li>Nguyễn Ngọc Thành</li>
      <li>Trần Việt Hải</li>
      <li>Nguyễn Thanh Phong</li>
    </ul>  
    </p>
    </p>
    <hr>
    </a>
  </div>
</div>
